.form-title {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.contract-form {
  margin: 0px auto;
  max-width: 900px;
  width: 100%;
  display: grid;
  gap: 1rem;
}

.form-row {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contract-form-label {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
  font-size: 11px;

  &:focus {
    outline: none;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;

  .submit-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #2c806d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 200px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #226c5b;
    }
  }
}
